version: '3'
services:
  haproxy:
    image: haproxy:latest
    ports:
      - 80:80
{% if  HAPROXY_ENABLE_SSL %}
      - 443:443
{% endif %}
    volumes:
      - {{ HAPROXY_CONFIG_DIR }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
{% if  HAPROXY_ENABLE_SSL %}
      - {{ HAPROXY_PEM_CERT_PATH }}:/etc/ssl/private/cert.pem
{% endif %}
    network_mode: host
