apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: api
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      service: api
  strategy: {}
  template:
    metadata:
      labels:
        service: api
    spec:
      containers:
      - env:
        - name: AUTH_METHOD
          valueFrom:
            configMapKeyRef:
              optional: true
              key: AUTH_METHOD
              name: keycloak-config
        - name: KEYCLOAK_URL
          valueFrom:
            configMapKeyRef:
              optional: true
              key: KEYCLOAK_URL
              name: keycloak-config
        - name: KEYCLOAK_REDIRECT_URL
          valueFrom:
            configMapKeyRef:
              optional: true
              key: KEYCLOAK_REDIRECT_URL
              name: keycloak-config
        - name: KEYCLOAK_SECRET
          valueFrom:
            configMapKeyRef:
              optional: true
              key: KEYCLOAK_SECRET
              name: keycloak-config
        - name: NATS_ADDRESS
          value: {{ NATS_ADDRESS }}
{% if  VAULT_TOKEN is defined %}
        - name: VAULT_ROOT_TOKEN
          value: {{ VAULT_TOKEN }}
{% endif %}
{% if  VAULT_ADDRESS is defined %}
        - name: VAULT_ADDRESS
          value: {{ VAULT_ADDRESS }}
{% endif %}
        image: {{ NAFIGOS_REGISTRY_PATH }}/api_service
        name: api
        ports:
        - containerPort: 8080
      restartPolicy: Always
status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: api
  name: api
spec:
  ports:
  - name: api
    port: 8080
    targetPort: 8080
  selector:
    service: api
status:
  loadBalancer: {}
