apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: build
  name: build
spec:
  replicas: 1
  selector:
    matchLabels:
      service: build
  strategy: {}
  template:
    metadata:
      labels:
        service: build
    spec:
      containers:
      - env:
        - name: NATS_ADDRESS
          value: {{ NATS_ADDRESS }}
        image: {{ NAFIGOS_REGISTRY_PATH }}/build_service
        name: build
        resources: {}
      restartPolicy: Always
status: {}
