apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:
  values:
    global:
      disablePolicyChecks: false
    pilot:
      policy:
        enabled: true
  components:
    ingressGateways:
    - name: istio-ingressgateway
      enabled: true
      k8s:
        service:
          ports:
{% for port_item in ISTIO_INGRESSGATEWAY_PORTS %}
{% set port_mapping = ISTIO_REMAP[port_item['name']] %}
{% for key, value in port_item.items() %}
{% if loop.index == 1 %}
{% set yaml_list_start="-" %}
{% else %}
{% set yaml_list_start=" " %}
{% endif %}
{% if key == "port" %}
          {{ yaml_list_start }} {{ key }}: {{ port_mapping  | default(value) }}
{% else %}
          {{ yaml_list_start }} {{ key }}: {{  value }}
{% endif %}
{% endfor %}
{% endfor %}
