---
version: '3'

services:
  vault:
    image: 'vault:{{ VAULT_VERSION }}'
    command:
      - "server"
    environment:
      VAULT_LOCAL_CONFIG: |
        {
          "listener": [{
            "tcp": {
              "address": "{{ VAULT_LISTEN_ADDR }}:{{ VAULT_PORT }}",
              "tls_disable": {{ VAULT_TLS_DISABLE | ternary('1', '0') }},
{% if not VAULT_TLS_DISABLE %}
              "tls_cert_file": "{{ VAULT_TLS_CERTFILE }}",
              "tls_key_file": "{{ VAULT_TLS_KEYFILE }}",
{% endif %}
            }
          }],
          "storage": {
            "postgresql": {
              "connection_url": "postgres://{{ POSTGRES_USERNAME }}:{{ POSTGRES_PASSWORD }}@{{ POSTGRES_HOST }}:{{ POSTGRES_PORT }}/{{ POSTGRES_DB_NAME }}?sslmode={{ POSTGRES_SSL_MODE }}"
            },
          }
        }
    cap_add:
      - IPC_LOCK
    network_mode: host
{% if not VAULT_TLS_DISABLE %}
    volumes:
      - '.:{{ CONFIG_DIR }}'
{% endif %}
